<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.withcare.report.dao.BlockDAO">
    <!-- 쪽지 차단 -->
    <insert id="block" parameterType="map">
        INSERT INTO member_block(blocker_id, blocked_id)
        VALUES (#{id}, #{blocked_id})
    </insert>

    <!-- 차단 기록이 있는지 중복 체크 -->
    <select id="checkIfBlocked" resultType="int">
        SELECT count(*)
        FROM member_block
        WHERE blocker_id = #{id} AND blocked_id = #{blocked_id}
    </select>

    <!-- 차단한 회원 리스트(유저) -->
    <select id="blockList" resultType="map">
        SELECT *
        FROM member_block
        WHERE blocker_id = #{id}
        ORDER BY block_start_date DESC
    </select>

    <!-- 차단 해제(유저) -->
    <delete id="blockCancel" parameterType="map">
        DELETE FROM member_block
        WHERE blocker_id = #{id} AND blocked_id = #{blocked_id}
    </delete>

    <!-- 차단 히스토리(관리자) -->
    <select id="getBlockList" resultType="com.withcare.report.dto.BlockListDTO">
        SELECT
        b.block_idx,
        b.blocked_id,
        b.block_admin_id,
        b.block_reason,
        b.block_start_date,
        b.block_end_date
        FROM block_list b
        <where>
            <if test="searchKeyword != null and searchKeyword != ''">
                AND b.blocked_id LIKE CONCAT('%', #{searchKeyword}, '%')
            </if>
        </where>
        <choose>
            <when test="sort == 'asc'">
                ORDER BY b.block_start_date ASC
            </when>
            <otherwise>
                ORDER BY b.block_start_date DESC
            </otherwise>
        </choose>
    </select>

    <!-- 차단 처리(관리자) -->
    <insert id="blockProcess" parameterType="map">
        INSERT INTO block_list (blocked_id, block_admin_id, block_reason, block_start_date, block_end_date)
        VALUES (#{blocked_id}, #{id}, #{block_reason}, NOW(), #{block_end_date})
    </insert>

    <!-- 차단 해제(관리자) -->
    <update id="blockAdminCancel">
        UPDATE block_list
        SET block_end_date = NULL
        WHERE blocked_id = #{blocked_id}
    </update>

    <!-- 차단 히스토리 상세보기 -->
    <!--<select id="">
        SELECT * FROM block_list
    </select>-->

</mapper>