<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
   <mapper namespace="com.withcare.comment.dao.ComDAO">
   
   	<!-- WRITE COMMENT -->
	<insert id="writeCom" parameterType="com.withcare.comment.dto.ComDTO" useGeneratedKeys="true" keyProperty="post_idx" keyColumn="post_idx">
	    INSERT INTO comment (post_idx, id, com_content, com_blind_yn)
	    VALUES (#{post_idx}, #{id}, #{com_content}, #{com_blind_yn})
	</insert>
	
	<!-- UPDATE COMMENT -->
	<update id="updateCom" parameterType="com.withcare.comment.dto.ComDTO">
		UPDATE comment SET com_content = #{com_content} WHERE com_idx = #{com_idx} AND id = #{id}
	</update>
	
   </mapper>