<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
   <mapper namespace="com.withcare.comment.dao.ComDAO">
   
   	<!-- WRITE COMMENT -->
	<insert id="writeCom" parameterType="com.withcare.comment.dto.ComDTO" useGeneratedKeys="true" keyProperty="com_idx" keyColumn="post_idx">
	    INSERT INTO comment (post_idx, id, com_content, com_blind_yn)
	    VALUES (#{post_idx}, #{id}, #{com_content}, #{com_blind_yn})
	</insert>
	
	<!-- UPDATE COMMENT -->
	<update id="updateCom" parameterType="com.withcare.comment.dto.ComDTO">
		UPDATE comment SET com_content = #{com_content} WHERE com_idx = #{com_idx} AND id = #{id}
	</update>
	
	<!-- BLIND COMMENT -->
	<update id="delCom" parameterType="com.withcare.comment.dto.ComDTO">
		UPDATE comment SET com_blind_yn = #{com_blind_yn} WHERE com_idx = #{com_idx}
	</update>
	
	<!-- 작성자 ID 가져오기 -->
	<select id="writerId" parameterType="int" resultType="String">
    	SELECT id FROM comment WHERE com_idx = #{com_idx}
	</select>
	
	<!-- level 가져오기 -->
	<select id="userLevel" parameterType="String" resultType="int">
	    SELECT lv_idx FROM member WHERE id = #{id}
	</select>
	
	<!-- COMMENT LIST -->
    <select id="comList" parameterType="int" resultType="com.withcare.comment.dto.ComDTO">
        SELECT * FROM comment WHERE post_idx = #{post_idx} ORDER BY com_idx ASC
    </select>

    <!-- COUNT COMMENT -->
    <select id="comCnt" parameterType="int" resultType="int">
        SELECT COUNT(*) FROM comment WHERE post_idx = #{post_idx}
    </select>
	
   </mapper>