<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.withcare.profile.dao.LevelDAO">
    <!-- 1. 사용자의 레벨을 조회(getMemberLevel) -->
    <select id="getMemberLevel" parameterType="map">
        SELECT
            m.id AS user_id,
            l.lv_idx,
            l.lv_no,
            l.lv_name,
            l.lv_icon,
            p.intro
        FROM
            member m
                JOIN
                level l ON m.lv_idx = l.lv_idx
                LEFT JOIN
                profile p ON m.id = p.id
        WHERE
            m.id = #{id}
    </select>

    <!-- 2. 사용자의 작성글, 댓글(멘션수), 추천받은 수, 타임라인 수, 접속 수를 가져옴(getMemberActivity) -->
    <select id="getMemberActivity" resultType="com.withcare.profile.dto.MemberActivityDTO">
        SELECT
            m.id,
            m.lv_idx,
            l.lv_no, -- 현재 레벨 번호
            (SELECT COUNT(*) FROM post WHERE id = m.id) AS post_count,
            (
                (SELECT COUNT(*) FROM comment WHERE id = m.id) +
                (SELECT COUNT(*) FROM mention WHERE men_writer_id = m.id)
                ) AS comment_count,
            (SELECT COUNT(*) FROM timeline WHERE time_user_id = m.id) AS timeline_count,
            (
                SELECT COUNT(ly.post_idx)
                FROM likeyn ly
                     JOIN post p ON ly.post_idx = p.post_idx
                WHERE p.id = m.id AND ly.like_type = 1
            ) AS like_count,
            pr.access_cnt AS access_count
        FROM member m
             JOIN level l ON m.lv_idx = l.lv_idx
             LEFT JOIN profile pr ON m.id = pr.id
        WHERE m.id = #{id};
    </select>

    <!-- 3. 모든 레벨 조건을 lv_no 기준으로 정렬-->
    <select id="getAllLevels" resultType="com.withcare.profile.dto.LevelDTO">
        SELECT * FROM level ORDER BY lv_no
    </select>

    <!-- 4. member의 lv_idx 업데이트 -->
    <update id="updateMemberLevel" parameterType="map">
        UPDATE member SET lv_idx = #{lv_idx}, lv_date = NOW()
        WHERE id = #{id}
    </update>
</mapper>