<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.withcare.msg.dao.MsgDAO">

	<!-- Send MSG -->
	<insert id="sendMsg" parameterType="com.withcare.msg.dto.MsgDTO">
		INSERT INTO message (sender_id, receiver_id, msg_content, msg_sent_at,
		msg_read, sender_msg_status, receiver_msg_status)
		VALUES (#{sender_id}, #{receiver_id}, #{msg_content}, #{msg_sent_at},
		#{msg_read},"N","N")
	</insert>
	
	<!-- OUTBOX -->
	<select id="outbox" parameterType="String" resultType="com.withcare.msg.dto.MsgDTO">
		SELECT msg_idx,sender_id,receiver_id,msg_content,msg_sent_at FROM message WHERE sender_id = #{sender_id} AND sender_msg_status = "N" ORDER BY msg_sent_at DESC
	</select>
	
	<!-- INBOX -->
	<select id="inbox" parameterType="String" resultType="com.withcare.msg.dto.MsgDTO">
		SELECT msg_idx,sender_id,receiver_id,msg_content,msg_sent_at FROM message WHERE receiver_id = #{receiver_id} AND sender_msg_status = "N" ORDER BY msg_sent_at DESC
	</select>
	
	<!-- MSG DETAIL -->
	<select id="msgDetail" parameterType="int" resultType="com.withcare.msg.dto.MsgDTO">
		SELECT msg_idx,sender_id,receiver_id,msg_content,msg_sent_at FROM message WHERE msg_idx=#{msg_idx}
	</select>
	
	<!-- DEL MSG (INBOX 기준) -->
	<update id="msgDel">
		UPDATE message SET receiver_msg_status="D" WHERE msg_idx = #{msg_idx}
	</update>
	
	<!-- DEL MSG (OUTBOX 기준) -->
	<update id="msgDelOut">
		UPDATE message SET sender_msg_status="D" WHERE msg_idx = #{msg_idx}
	</update>
	
	<!-- SAVE MSG (INBOX 기준) -->
	<update id="msgSave">
		UPDATE message SET receiver_msg_status="S" WHERE msg_idx = #{msg_idx}
	</update>
	
	<!-- SAVE MSG (OUTBOX 기준) -->
	<update id="msgSaveOut">
		UPDATE message SET sender_msg_status="S" WHERE msg_idx = #{msg_idx}
	</update>






</mapper>