<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.withcare.msg.dao.MsgDAO">

	<!-- Send MSG -->
	<insert id="sendMsg" parameterType="com.withcare.msg.dto.MsgDTO" useGeneratedKeys="true" keyProperty="msg_idx">
		INSERT INTO message (sender_id, receiver_id, msg_content, msg_sent_at,
		msg_read, sender_msg_status, receiver_msg_status)
		VALUES (#{sender_id}, #{receiver_id}, #{msg_content}, #{msg_sent_at},
		#{msg_read},"N","N")
	</insert>
	
	<!-- OUTBOX -->
	<select id="outbox" parameterType="String" resultType="com.withcare.msg.dto.MsgDTO">
		SELECT msg_idx,sender_id,receiver_id,msg_content,msg_sent_at,msg_read, sender_msg_status, receiver_msg_status FROM message WHERE sender_id = #{sender_id} AND sender_msg_status = "N" ORDER BY msg_sent_at DESC
	</select>
	
	<!-- INBOX -->
	<select id="inbox" parameterType="String" resultType="com.withcare.msg.dto.MsgDTO">
		SELECT m.msg_idx, m.sender_id, m.receiver_id, m.msg_content, m.msg_sent_at, m.msg_read, m.sender_msg_status, m.receiver_msg_status
		FROM message m
		LEFT JOIN member_block mb ON m.sender_id = mb.blocked_id AND mb.blocker_id = #{receiver_id}
		WHERE m.receiver_id = #{receiver_id}
		  AND m.receiver_msg_status = 'N'
		  AND mb.blocked_id IS NULL
		ORDER BY m.msg_sent_at DESC
	</select>
	
	<!-- MSG DETAIL -->
	<select id="msgDetail" parameterType="int" resultType="com.withcare.msg.dto.MsgDTO">
		SELECT msg_idx,sender_id,receiver_id,msg_content,msg_sent_at,
	       msg_read, sender_msg_status, receiver_msg_status FROM message WHERE msg_idx=#{msg_idx}
	</select>
	
	<!-- DEL MSG (INBOX 기준) -->
	<update id="msgDel">
		UPDATE message SET receiver_msg_status="D" WHERE msg_idx = #{msg_idx}
	</update>
	
	<!-- DEL MSG (OUTBOX 기준) -->
	<update id="msgDelOut">
		UPDATE message SET sender_msg_status="D" WHERE msg_idx = #{msg_idx}
	</update>
	
	<!-- SAVE MSG (INBOX 기준) -->
	<update id="msgSave">
		UPDATE message SET receiver_msg_status="S" WHERE msg_idx = #{msg_idx}
	</update>
	
	<!-- SAVE MSG (OUTBOX 기준) -->
	<update id="msgSaveOut">
		UPDATE message SET sender_msg_status="S" WHERE msg_idx = #{msg_idx}
	</update>
	
	<!-- 수신자 읽음 처리 -->
	<update id="readYN">
		UPDATE message SET msg_read = true WHERE msg_idx = #{msg_idx}
	</update>

	<!-- 차단 확인 -->
	<select id="isBlocked" parameterType="map" resultType="boolean">
		SELECT count(*) > 0
		FROM member_block
		WHERE blocker_id = #{receiverId} AND blocked_id = #{senderId}
	</select>

</mapper>