<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.withcare.statistic.dao.PostStatDAO">

    <select id="getPostWeeklyCount" resultType="int">
        SELECT COUNT(*) AS weekly_post_count
        FROM post
        WHERE post_create_date >= NOW() - INTERVAL 7 DAY
          AND post_blind_yn = FALSE
    </select>

	<select id="getCommentWeeklyCount" resultType="int">
		SELECT COUNT(*) AS weekly_comment_count
		FROM comment
		WHERE com_create_date >= NOW() - INTERVAL 7 DAY
		  AND com_blind_yn = FALSE
	</select>

	<select id="getPostAndCom" resultType="com.withcare.statistic.dto.PostStatDTO">
		SELECT
			b.board_idx,
			b.board_name,
			b.com_yn,
		COUNT(DISTINCT p.post_idx) AS post_count,
		COUNT(CASE WHEN c.com_blind_yn = FALSE AND c.com_create_date >= NOW() - INTERVAL 7 DAY
			THEN c.com_idx END) AS comment_count
		FROM board b
			LEFT JOIN post p
			ON b.board_idx = p.board_idx AND p.post_blind_yn = FALSE
			LEFT JOIN comment c
			ON p.post_idx = c.post_idx
			GROUP BY b.board_idx, b.board_name, b.com_yn
			ORDER BY b.board_idx
    </select>
   
</mapper>