<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.withcare.profile.dao.TimelineDAO">

	<insert id="writeTimeline" parameterType="com.withcare.profile.dto.TimelineDTO">
        INSERT INTO timeline (time_user_id, day, time_title, time_content, time_public_yn)
        VALUES ( #{time_user_id}, #{day}, #{time_title}, #{time_content}, #{time_public_yn})
    </insert>
    
    <update id="update_timeline" parameterType="com.withcare.profile.dto.TimelineDTO">
        UPDATE timeline SET
        time_user_id = #{time_user_id},
        time_title = #{time_title},
        time_content = #{time_content},
        time_public_yn = #{time_public_yn},
        day = #{day}
        WHERE time_idx = #{time_idx}
    </update>


</mapper>
